* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
}

main {
    margin-top: 10rem;
    width: 50rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

button {
    margin-top: 2rem;
    cursor: pointer;
    background-color: #FF8809;
    color: #FFF;
    border-radius: 0.6rem;
    border: 0;
    width: 15rem;
    height: 6rem;
    transition: 0.5s;
}

button:hover {
    background-color: #3490FF;
}